.GraphsContainer {
    margin: 0 auto;
    width: 1700px;
    &-graphs {
        justify-content: space-between;
        margin-top: 100px;
        display: flex;
        flex-wrap: wrap;
        &-graph {
            width: max-content;
            margin-bottom: 40px;
        }
    }
}

@media (max-width: 1720px) {
    .GraphsContainer {
        width: 800px;
        &-graphs {
            &-graph {
            }
        }
    }
}
