body {
    margin: 0px;
}
.fullTable {
    padding: 0px 0px 0px 10px !important;
    height: 36px;
    &-Buttons {
        display: flex;
        align-items: center;
        span {
            padding: 3px;
        }
        button {
            height: max-content;
        }
    }
}
.FullTableInput, .FullTableNameInput {
    margin-right: 24px;
    margin-left: 16px;
    input {
        text-align: right;
    }
}
.FullTableNameInput{
    input {
        text-align: left;
    }
}
.activeTd {
    padding: 0 !important;
}
